@charset "UTF-8";
/* CSS Document */
*{font-size:12px;margin:0;padding:0}
body{background: #EEE;overflow: hidden;}
#errors {color:#dd261d;text-align:center;margin-bottom: 5px;height:36px;}
#login {margin:80px auto;width:250px;height:291px;display:block;overflow:hidden;_width:251px;}
th {color:#333;font-weight: 600;}

.loginTable{
    width:100%;
    padding:10px;
}
.loginTable th{text-align:left;}
.loginTable td{text-align:left;padding:0px;}
.loginTable a{margin-top: 5px;}
.loginTable a:hover{
    color: #f4f4f4;
}
.loginBlock{
    background:#FFF;
    color: #333;
    border: 1px solid #BBB;
   
}
.titleHead{
/*    background: url("../../images/bg_menu_06.gif") repeat scroll 0 0 transparent;*/
	background: url("../../images/bg.png") repeat top left;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
	border: 1px solid #FFF;
	border-bottom:1px solid #DDD;
	text-align:center;
}

.logo_head {
     width: 120px;
     height: 38px;
     margin: -1px 0px 1px 64px;
     float: left;   
     background:url("../../css/images/logo.png") no-repeat top left;
}
.textfield{width:224px;height:25px !important; line-height:25px !important;ime-mode:disabled;border:1px solid #BBB;margin-bottom: 5px;padding-left: 3px;}

.btn{width:80px; height:25px;font-size:12px;cursor: pointer;}
.btn.w100{width: 100px}
a.forgot{font-size:10px;text-decoration:none;margin-top: 5px;display: inline-block;;color: #444;}
a.forgot:link{color:#2051fd;}
a.forgot:visited {color:#2051fd;}
a.forgot:hover{color:#0875d1;}
a.forgot:active{color:#0875d1;}
p.caption{line-height:150%;margin-top:12px;background:#DDD;padding:7px;margin-top:5px; color: #444;display:block;min-height:62px; }
.clear{clear: both;}
.bullet{
    margin-right: 5px;
    font-weight: bold;
    font-size: 18px;
}
.forgot_pass{
    background:#EEE;
    padding:5px;
    display: inline-block;
	margin-top:3px;
}
/* Login Select */
.loginSelect{
    position: relative;
    padding: 10px;
}
.loginSelect a{
    width: 300px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 8px;
    display: inline-block;
    border-bottom: 1px dotted #0086a2;
}
.loginSelect .text{
    text-align: left;
    margin: 2px 0;
}
.loginSelect .selectList{
    margin-bottom: 10px;
}
.loginSelect .buttonSelect{
    margin: 5px 0 0 0;
    text-align: center;
}
.loginSelect .buttonSelect input{
    width: 70px;
    height: 25px;
    cursor: pointer;
}
/*added 2010/12/03 for maintenance message*/
.maintenance{
    margin: auto;
    padding: 5px;
    color: black;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
form {
    margin: 17px 10px 10px;
}
#login blockquote{
    background:#D9EDF7  left top no-repeat;    
    border: 1px solid #BCE8F1;
    color: #3A87AD;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
    /*    text-indent: 23px;*/
    border-radius: 4px;

}