@charset "UTF-8";
/* CSS Document */
*{
    font-size:13px;
    margin:0;
    padding:0;
}
body{
    background: #EEE;
}

#login_block{
    bottom: 0px;
    min-width: 950px;
    min-height: 500px;
    position: relative;
}

#form_login{
    margin:150px auto 0;
    width:300px;
    background: #FFF;
    display: block;
    border-radius: 30px;
    padding:30px;
    border: 1px solid #AAA;
    box-shadow: 1px 1px 5px #aaa;
}

#bottom_block{
    position: fixed;
    bottom: 6px;
    color: #111;
    font-size: 11px;
    text-align: center;
    width:100%;
}