AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule  ^$ public/    [L]
	RewriteRule  (.*) public/$1 [L]
CheckSpelling Off
CheckCaseOnly off
</IfModule>
	
<IfModule mod_speling.c>
CheckSpelling on
CheckCaseOnly on
</IfModule>
