.top_bar{
    background-color: #ecf0f5;
    height:8%;
    border-bottom: 1px solid gray;
}
.left_content{
    float: left;
    width:20%;
    height: 100%;
    background-color: #ecf0f5;
}