//for print selected
body * {
    display: none;
}
@media print{
  body *{ visibility: hidden; }
  #printable *{ visibility: visible;}
  .p_break{page-break-after: always;}
}
.td_style{
     float: right; 
     padding-right: 20px;
}

.detail_tbl th,.detail_tbl td{
    padding-left: 10px;
}