.loginpage{
background:#ecf0f5;
}

.loginbox{
  width: 360px;
  margin: 7% auto;}
 
.loginbox-body{
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
  }
  
  a.button {
    color: #6e6e6e;
    font: bold 11px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 19px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #F8F8F8;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 1px;
}
a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
    color: #000;
    border-color: #444;
}

table{
line-height:40px;}

.log{
height: 42px;
  padding: 8px 12px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  color: #34495e;
  border: 2px solid #bdc3c7;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  }