#form_div{
border:1px solid #d1d2d2;
}
.search_box{
border:1px solid #e2e3e3;background-color:#f6f6f6;-moz-border-radius: 5px;
border-radius: 5px; height:100px;padding:10px 0px 10px 27px;
}
.search_btn_box{
float:right; width:376px; margin-top:-28px;
    margin-right: -90px;
}
#Menu
{
    
}
.ui-dialog-titlebar-close{
    visibility: hidden;
}
#M_1,#M_2,#M_3,#M_4
{
       width: 18.5%;
	display: inline-block;
	float: left;
	margin-right:-5px;
        margin-top: 10px;
}
.left_div_style_box{
padding:10px;
}
.left_div_style{
float:left;
}
.span_style{
width:150px; display: inline-block;
}
.div_bottom{
padding-bottom:10px;
}
.salary_setting_style{

height:230px;
}

.noti a:hover {color: red;}

.noti  li{
padding-bottom:1%;
list-style:none;}