/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/06/22, 0:03:52
    Author     : Kohei Iwasa
*/
form{
    margin:0;
}

#logo_area{
    height: 42px;
    border-bottom: 1px solid #BDC3C7;
    position: relative;
}

#logo{
    position: absolute;
    left:12px;
    top:14px;
}

#btn_maintenace{
    position: absolute;
    top:8px;
    right:12px;
}

#btn_user{
    position: absolute;
    top:8px;
    right:50px;
    font-size: 21px;
}

#group_list{
    background: #EFEFEF;
    border-right:1px solid #999;
    width:230px;
    float:left;
    min-height: 200px;
    position: relative;
}

.list-box{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

.list-box > h2{
    color:#8E979D;
    font-size:11px;
    text-indent: 14px;
    margin: 0;
    height: 30px;
    line-height: 40px;
    font-weight: 400;
}

.group-list-ul{
    margin: 0;
}
.group-list-ul > li{
    list-style-type: none;
    font-size:12px;
    line-height: 22px;
    padding-left:20px;
}

/*
    user list block
*/

#users_list{
    border-right:1px solid #999;
    background: #FEFEFE;
}

#user_list_search_box{
    border-bottom: 1px solid #BDC3C7;
    height: 42px;
    background: #F0F0F0;
}

#user_list_hd{
    height: 22px;
    background: #ECF0F1;
    border-bottom: 1px solid #BDC3C7;
    overflow: hidden;
}
#user_list_hd > table{
    border-collapse: collapse;
    
}
#user_list_hd > table > thead > tr > th{
    border-right: 1px solid #BDC3C7;
    color:#34495E;
    font-size: 12px;
    text-align: left;
    text-indent: 6px;
}

#user_list_bd{
    overflow-y: auto;
}

#user_list_table{
    border-collapse: collapse;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#user_list_table td{
    border-right: 1px solid #BDC3C7;
}

#user_list_table td > div{
    overflow: hidden;
    text-indent: 6px;
    line-height: 24px;
    height: 24px;
    font-size: 13px;
}

/*
    set up user's list widths
*/
.ult-name,
.ult-name > div{width: 200px;}

.ult-dept_name,
.ult-dept_name > div{width: 150px;}

.ult-extension_number,
.ult-extension_number > div{width: 80px}
.ult-telphone,
.ult-telphone > div{width: 120px;}
.ult-cellular_phone,
.ult-cellular_phone > div{width: 120px;}

.ult-email01,
.ult-email01 > div{width:180px}

.ult-email02,
.ult-email02 > div{width:180px}

.ult-empty-tag{height:2000px;}


/*
    set up an user's infomation layout
*/
#user_control_box{
    height: 42px;
    border-bottom: 1px solid #BDC3C7;
}