/*!
 * created at 27/7/15
 * popup display event time in calendar
 */
.popup{   
    position:absolute;
        top: 90%;
        left: 0.99%;
        width:10em;
        height:10em;        
        border:  2px solid black;        
        background: #fbfbfb;
        z-index: 2;
        padding: 14px;
        font-size: 14px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}
#left-scroll {    
    overflow-y: scroll;
    height: 200px;
    width: 165px;
  }
/*scroll bar hidden*/
body::-webkit-scrollbar { width: 0; }

#calendar{ 
    width: 100%;
}