/*!
 * created at 27/7/15
 * popup display event time in calendar
 */
.popup{   
        position:absolute;
        top: 90%;
        left: 0.99%;
        width:10em;
        height:10em;        
        border:  2px solid black;
        background: #fbfbfb;
        z-index: 2;
        padding: 14px;
        font-size: 14px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}
#left-scroll {    
    overflow-y: hidden;
    overflow-x: hidden;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
  }
  #left-scroll:hover{
       overflow-y: scroll;
  }
/*scroll bar hidden*/
body::-webkit-scrollbar { width: 0; }

#calendar{ 
    width: 100%;
}
#hidden-type{
    display: block;
}
#clear{
    clear:both;
}
#shapbott{       
    height: 20px; 
    width:10px;
}
#disabledevent{
    height: 20px;
    width:30px;
}
.content{
    padding: 0;
}
.bg-info{
    background: white;
}
.addmember{
  margin-left: 125px !important;
}
.addbtn{
  background: url("../../../common/img/5Fm069k.png")  10px -33px no-repeat #F8F8F8 ;  
  }
  .minusbtn{
      background: url("../../../common/img/5Fm069k.png")  10px -67px no-repeat #F8F8F8 ;  
      font-size: 12px;
      padding: 6px 10px 6px 26px;
  }
::-webkit-scrollbar {
background:#fff;
width:6px;
}
::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
background-image: -webkit-linear-gradient(top,#FFF  10%, #3c8dbc 51%);
}
::-webkit-scrollbar-track {
}
