/******** for tax form *************/
#ssb_top{
    margin: 25px 0 0 0;
}
.top-center{
    padding: 0px 0px 5px 0px;
    text-align: center;
}
.ssb-left{
    float: left;
    width: 74%;
    height: 50px;
}
.tbl-tax{
    width: 100%;
    
}
.table_ssb{
       width: 100%;
       align-content: center;
}
.table_ssb td{
     padding: 0px;
      
}
 
.tbl-tax td{
    padding: 5px;
}
.border-top td{
    border-top: 1px solid;
    padding: 5px;

    }
   
.ssb-right{
  width:26%;
  float: right;
}
@media all {
	.page-break	{ display: none;       border-spacing: 15px;}
}

@media print{
     
  body *{ visibility: hidden; }
  .printable *{ visibility: visible; font-size: 14px;      border-spacing: 15px;}
   
  .link{display: none;}
   
}
@page {
    border-spacing: 15px;
    margin: 50px;
}
.page {  
      page-break-before: always;
      page-break-inside: avoid; }
#doc{
    float: right;
  }

