/******** for tax form *************/
#ssb_top{
    margin: 25px 0 0 0;
}
.top-center{
    padding: 0px 0px 15px 0px;
    text-align: center;
}
.ssb-left{
    float: left;
    width: 74%;
    height: 50px;
}
.tbl-tax{
    width: 100%;
}
.tbl-tax td{
    padding: 10px;
}

.ssb-right{
    width:26%;
    float: right;
}
@media print{
  
    body *{ visibility: hidden; }
    .printable *{ visibility: visible;}
    #side {display:none;}  
    
    table.tbl-tax thead {
        display: table-header-group;
              margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: #eeefff !important;
        page-break-before:  always;
        page-break-after: always;
    }    
}

#doc{
    float: right;
    padding: 15px;
}

