//for print selected
body * {
    display: none;
}
@media print{
  body *{ visibility: hidden; }
  #printable *{ visibility: visible;}
  .p_break{page-break-after: always;}
}
.td-style{
     float: right; 
     padding-right: 20px;
}

.detail-tbl th,.detail-tbl td{
    padding: 9px 0 0 10px;
}


a.btn_detail:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.btn_detail {
    color: #6e6e6e;
    font: bold 11px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 19px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 1px;
}